<main class="lista-candidatos">
    <h2>Lista de candidatos</h2>
    {{#if candidates.length}}
        {{#each candidates}}
            <div class="candidato">
                <div class="caja">
                    <p class="etiqueta">Nombre:</p>
                    <p class="nombre">{{name}}</p>
                </div>
                <div class="caja">
                    <p class="etiqueta">Email:</p>
                    <p class="nombre">{{email}}</p>
                </div>
                <div class="caja">
                    <a href="/upload/cv/{{cv}}" class="btn btn-verde">Ver CV</a>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>Todavía no hay candidatos</p> 
    {{/if}}
</main>