<main class="contenedor">
    <form action="/login" method="POST" class="default-form">
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" id="" placeholder="E-mail">
        </div>
        <div class="campo">
            <label for="">Contraseña</label>
            <input type="password" name="password" id="" placeholder="Contraseña">
        </div>
        <div class="campo acciones">
            <a href="/newAccount">¿No tenés una cuenta? Registrate</a>
            <a href="#">Olvidé mi contraseña</a>
        </div>
        <div class="campo">
            <input type="submit" value="Iniciar sesión" class="btn btn-azul">
        </div>
    </form>
</main>