<main class="contenedor">
    <form action="/newAccount" method="POST" class="default-form">
        <div class="campo">
            <label for="">Nombre</label>
            <input type="text" name="name" id="" placeholder="Nombre">
        </div>
        <div class="campo">
            <label for="">Email</label>
            <input type="email" name="email" id="" placeholder="E-mail">
        </div>
        <div class="campo">
            <label for="">Contraseña</label>
            <input type="password" name="password" id="" placeholder="Contraseña">
        </div>
        <div class="campo">
            <label for="">Confirmar contraseña</label>
            <input type="password" name="confirm" id="" placeholder="Confirmar contraseña">
        </div>
        <div class="campo acciones">
            <a href="/login">¿Ya tenés una cuenta? Iniciar sesión</a>
        </div>
        <div class="campo">
            <input type="submit" value="Registrarse" class="btn btn-azul">
        </div>
    </form>
</main>