<div class="contenedor">
    <form class="default-form" method="POST">
        <div class="campo">
            <label>Nueva contraseña</label>
            <input type="password" name="password" placeholder="Nueva contraseña">
        </div>
        <div class="campo">
            <input type="submit" value="Guardar" class="btn btn-azul">
        </div>
    </form>
</div>