<main class="contenedor">
    <form action="/vacancies/new" method="POST" class="default-form">
        <h3>Información general</h3>
        <div class="campo">
            <label for="">Título</label>
            <input type="text" name="title" placeholder="Ej: React Developer" required>
        </div>
        <div class="campo">
            <label for="">Empresa</label>
            <input type="text" name="company" placeholder="Ej: devJobs" required>
        </div>
        <div class="campo">
            <label for="">Ubicación</label>
            <input type="text" name="location" placeholder="Ej: Buenos Aires, Argentina" required>
        </div>
        <div class="campo">
            <label for="">Salario (USD)</label>
            <input type="text" name="salary" placeholder="Ej: 500" required>
        </div>
        <div class="campo">
            <label for="">Contrato</label>
            <select name="contract">
                <option value="" disabled selected>--Seleccionar una opción--</option>
                <option value="freelance">Freelance</option>
                <option value="complete">Tiempo completo</option>
                <option value="part">Medio tiempo</option>
                <option value="project">Por proyecto</option>
            </select>
        </div>
        <h3>Conocimientos</h3>
        <ul class="lista-conocimientos">
            {{#selectSkills i }}
            {{/selectSkills}}
        </ul>
        <div class="campo centrar-horizontal">
            <input type="submit" value="Publicar" class="btn btn-azul">
        </div>
    </form>
</main>